body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  line-height: 1.5em;
}

img {
  max-width: 100%;
  height: auto;
}

#site_wrap {
  height: 100vh;
  display: grid;
}

header {
  padding: 0px;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  vertical-align: bottom;
  line-height: normal;
}

.npori {
  position: absolute;
  left: 10px;
  top: 0px;
  margin: 0px 15px 15px 0px;
}

.social {
  background-color:#fff;
 }

.social-ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-ul a {
  color: #000;
  font-size: 40px;
  margin: 10px;
}

nav {
  background-color:#2E6CA4;
  font-size: 40px;
}

.nav ul {
  margin: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-size: 18px;
  margin: 20px;
  vertical-align: bottom;
  line-height: normal;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

main {
  padding: 300px;
  font-size: 50px;
  text-align: center;
}

.featured_header {
  padding: 300px;
  background-image: url('aboutus.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.featured_header h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-align: center;
}

.introduction {
  margin: 0;
  padding: 350px;
  text-align: left;
}

.project_members {
  color: #fff;
  background-color: #DFD3C3;
  margin: 0;
  padding: 500px;
  text-align: center;
}

footer {
  background-color: #111111;
  color: #fff;
  padding: 350px;
  text-align: center;
}

footer p {
  vertical-align: bottom;
}

footer .fa-heart {
  color: red;
}

.footer_logo {
  position: absolute;
  left: 10px;
  margin: 0px 15px 15px 0px;
}
